<mat-toolbar class='title-bar'>
    <img class='header-logo' src='../../assets/img/APLogo.png' />
    <div>
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a home icon">
            <mat-icon>mail</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a menu icon">
            <mat-icon>rss_feed</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="login-button" aria-label="Example icon button with a open in new tab icon">
            <mat-icon>login</mat-icon><span>Login</span>
        </button>
    </div>
</mat-toolbar>
<header class="header-container">
    <p>aca va el header</p>
</header>