.header-container {
  height: 400px;
  overflow: hidden;
}

.header-logo {
  justify-self: start;
}

.title-bar {
  color: #fff;
  background-color: #000;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  height: 100%;
}

.yo-programo {
  line-height: 64px;
}

button {
  color: white;
}

.login-button {
  color: #fff;
  padding: 0;
  width: 100px;
  border: 1px solid #fff;
  border-radius: 10px;
  line-height: 24px;
}

.login-button span {
  padding-left: 15px;
}

.cover {
  width: 100%;
  height: calc(400px - 64px - 100px);
}

.profile-container {
  display: flex;
  height: 100px;
  justify-content: space-between;
}

.profile-img {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  position: relative;
  top: -75px;
  margin: 0 0 0 50px;
}

.header-name {
  font-size: 40px;
  line-height: 100px;
}

.header-prof {
  font-size: 25px;
  line-height: 100px;
}

a {
  width: 90px;
  height: 30px;
  padding: 0;
  text-align: center;
  line-height: 30px;
  margin-right: 20px;
  align-self: center;
}

a .contact-button {
  align-self: center;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 10px;
}

.edit-button {
  z-index: 100;
}
