<section class="acad-container">
  <h1>
    FORMACIÓN ACADÉMICA
    <button *ngIf="auth" class="edit-button" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </h1>
  <section class="acad-card-container">
    <mat-card *ngFor="let academic of academicData" class="acad-card">
      <mat-card-header>
        <img mat-card-avatar class="acad-avatar" [src]="academic.url_logo" />
        <mat-card-title>{{ academic.titulo }}</mat-card-title>
        <mat-card-subtitle>
          {{ academic.tipo }} -
          {{ instData[academic.institucion_id - 1]?.nombre }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-footer>
        <p class="acad-certificate">
          <a [href]="academic?.url_certificado" target="_blank"
            >{{ academic?.url_certificado && "CERTIFICADO" }}
          </a>
        </p>
        <p class="acad-score">
          {{
            academic?.promedio > 0
              ? academic?.promedio +
                "/" +
                (academic?.promedio > "10" ? "100" : "10")
              : ""
          }}
        </p>
        <p *ngIf="!academic?.fecha_fin" class="acad-period">EN CURSO</p>
        <p *ngIf="academic?.fecha_fin" class="acad-period">
          {{ academic.fecha_fin | date: "MM-yyyy" }}
        </p>
      </mat-card-footer>
    </mat-card>
  </section>
</section>
