<section class="projects-container">
  <h1>
    PROYECTOS PROPIOS Y EN COLABORACIÓN
    <button *ngIf="auth" class="edit-button" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </h1>
  <section class="projects-card-container">
    <mat-card *ngFor="let project of projectData" class="project-card">
      <mat-card-header>
        <img mat-card-avatar class="project-avatar" [src]="project.url_logo" />
        <mat-card-title>{{ project.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ project.tecnologia }}</mat-card-subtitle>
      </mat-card-header>
      <img
        class="project-preview"
        mat-card-image
        [src]="project.url_img"
        alt="Proyecto {{ project.titulo }}"
      />
      <mat-card-content>
        <p>
          {{ project.descripcion }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <a [href]="project.url_preview" target="_blank">{{
            project.url_preview && "PREVIEW"
          }}</a>
        </button>
        <button mat-button>
          <a [href]="project.url_git" target="_blank">{{
            project.url_git && "GIT_HUB"
          }}</a>
        </button>
      </mat-card-actions>
    </mat-card>
  </section>
</section>
