<section class="skills-container">
  <h1>
    OTRAS HABILIDADES
    <button *ngIf="auth" class="edit-button" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </h1>
  <section class="skills-graph">
    <mat-card *ngFor="let skill of skillsData" class="skill-card">
      <mat-card-content>
        <h2 class="skill-title">{{ skill.nombre_habilidad }}</h2>

        <mat-progress-spinner
          class="skill-spinner"
          [diameter]="120"
          [mode]="mode"
          [value]="skill.porcentaje"
          [strokeWidth]="18"
        >
        </mat-progress-spinner>
        <p>{{ skill.porcentaje }} %</p>
      </mat-card-content>
    </mat-card>
  </section>
</section>
