.skills-container {
    border-top: 2px solid #fff;
    padding: 30px 50px;
}

.skills-graph {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 100%;
    gap: 30px 10px;
    justify-content: space-evenly;
}

.skill-card {
    width: 150px;
    background-color: #000;
    box-shadow: 0 0 25px rgb(126, 126, 126);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: baseline;
    align-items: center;
}

.skill-title {
    text-align: center;
}

.skill-spinner {
    text-align: center;
    color:#fff
}

mat-card-content {
    width: 80%;
    position: relative;
}

p{
    z-index: 1;
    position: absolute;
    bottom: 25%;
    left: 35%;
    font-size: 30px;
}