<section class="skills-container">
    <h1>OTRAS HABILIDADES</h1>
    <section class="skills-graph">
        <mat-card class="skill-card">
            <mat-card-content>
                <h2 class="skill-title">NetWorks</h2>

                <mat-progress-spinner class="skill-spinner" [diameter]=120 [mode]="mode" [value]=75 [strokeWidth]=18>
                </mat-progress-spinner>
                <p>75%</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="skill-card">
            <mat-card-content>
                <h2 class="skill-title">TeamWork</h2>

                <mat-progress-spinner class="skill-spinner" [diameter]=120 [mode]="mode" [value]=85 [strokeWidth]=18>
                </mat-progress-spinner>
                <p>85%</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="skill-card">
            <mat-card-content>
                <h2 class="skill-title">English</h2>

                <mat-progress-spinner class="skill-spinner" [diameter]=120 [mode]="mode" [value]=65 [strokeWidth]=18>
                </mat-progress-spinner>
                <p>65%</p>
            </mat-card-content>
        </mat-card>
    </section>
</section>