/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* You can add global styles to this file, and also import other style files */

* {
    color: white;
    font-family: Bebas Neue, "Helvetica Neue", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;

}

.app {
    width: 960px;
    background-color: #000;
}

h1 {
    margin-top: 0;
    font-size: 50px;
}