<section class="works-container">
  <h1>
    EXPERIENCIA LABORAL
    <button *ngIf="auth" class="edit-button" mat-icon-button>
      <mat-icon>edit</mat-icon>
    </button>
  </h1>
  <section class="works-card-container">
    <mat-card *ngFor="let experience of experienceData" class="work-card">
      <mat-card-header>
        <img
          mat-card-avatar
          class="work-avatar"
          [src]="instData[experience.institucion_id - 1]?.url_logo"
        />
        <mat-card-title>{{
          instData[experience.institucion_id - 1]?.nombre
        }}</mat-card-title>
        <mat-card-subtitle>{{ experience.puesto }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ experience.resumen }}
        </p>
        <p>
          {{ experience.descripcion }}
        </p>
      </mat-card-content>
      <mat-card-footer>
        <p>
          <span *ngIf="!experience.fecha_fin">DESDE</span
          ><span> {{ experience.fecha_inicio | date: "MM-yyyy" }} </span
          ><span *ngIf="experience.fecha_fin">
            A {{ experience.fecha_fin | date: "MM-yyyy" }}</span
          >
        </p>
      </mat-card-footer>
    </mat-card>
  </section>
</section>
